body {
  margin: 0;
  padding: 20px;
  background-color: #66ccff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 15px;
  border: 2px solid #fff;
  width: 165px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 15px;
  margin: 10px;
  margin-right: 0px;
  background-color: #66a3ff;
  color: #fff;
  border: 2px solid #66a3ff;
}
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  color: #ffff99;
  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  color: #ccccff;
  padding-left: 0;
  width: 250px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.theList {
  padding: 30px;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  transition: background-color 0.2s ease-out;
}
.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}

ul.theList li:hover {
  background-color: #000033;
  color: #ffffff;
  cursor: pointer;
}
